/*Documento CSS da Aula 6*/

*{
	margin: 0;
	padding: 0;
}

.div{
	position: relative;
	width: 390px;
	height: 290px;
	background-color: #FF0000;
	border: 1px solid #0000000;
	/*margin: 100px; É para a posição absoluta. Existe vários tipos de margens, a mesma é a distancia das bordas*/
	font-family: Arial, sans-serif;
	font-size: 20;
	color: #FFFFFF; /*Está é a cor da letra*/
	padding: 10px; /*Serve para dar uma distância do próprio elemento*/
	float: left;/*Serve só no pocisionamento relativo, fazendo com que o elemnto flutue*/
}

.div2{

	position: relative;
	width: 390px;
	height: 290px;
	background-color: #000FF0;
	border: 1px solid #0000000;
	font-family: Arial, sans-serif;
	font-size: 20;
	color: #FFFFFF; /*Está é a cor da letra*/
	padding: 10px;
	float: left;	
}